* {
    border: 1px solid black;
}


.modal {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.container-1-body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}


ul {
    list-style-type: none;
    display: flex;
    gap: 10px;

}
